/__pycache__/
/logs
/models/__pycache__/
/outputs
/saved_models
/utils/__pycache__/
/report/final_report.aux
/report/final_report.log
/report/final_report.out
/report/final_report.pdf
/report/final_report.toc
/report/final_report.synctex.gz
/report/final_report.bbl
/report/final_report.blg
/report/final_report.run.xml
/report/final_report.fls
/report/final_report.fdb_latexmk
/report/final_report.nlo
