/__pycache__/
/logs
/models/__pycache__/
/outputs
/saved_models
/utils/__pycache__/
/report/Report_CS331.aux
/report/Report_CS331.log
/report/Report_CS331.out
/report/Report_CS331.pdf
/report/Report_CS331.toc
/report/Report_CS331.synctex.gz
/report/Report_CS331.bbl
/report/Report_CS331.blg
/report/Report_CS331.run.xml
/report/Report_CS331.fls
/report/Report_CS331.fdb_latexmk
/report/Report_CS331.nlo
