numpy>=2.0.0
pandas>=2.0.0
scikit-learn>=1.3.0
matplotlib>=3.7.0
seaborn>=0.12.0
Pillow>=10.0.0
opencv-python>=4.8.0
tqdm>=4.65.0
scipy>=1.11.0
statsmodels>=0.14.0
umap-learn>=0.5.3
tensorboard>=2.13.0
pyyaml>=6.0

# Face recognition
deepface>=0.0.79
torch>=2.0.0
torchvision>=0.15.0
